table,
td,
th {
  border: 1px solid;
  border-collapse: collapse;
  border-color: black;
  margin: 1pc;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
* {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  text-align: justify;
  /* font-weight: 600; */
  font-style: normal;
}
